<?xml version="1.0" ?>
<data>
   <item>
      <name>0008,0020</name>
      <description>StudyDate</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0008,0021</name>
      <description>SeriesDate</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0008,0022</name>
      <description>AcquisitionDate</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0008,0023</name>
      <description>ContentDate</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0008,0024</name>
      <description>OverlayDate</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,0025</name>
      <description>CurveDate</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,002A</name>
      <description>AcquisitionDatetime</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,0030</name>
      <description>StudyTime</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0008,0031</name>
      <description>SeriesTime</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0008,0032</name>
      <description>AcquisitionTime</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0008,0033</name>
      <description>ContentTime</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0008,0034</name>
      <description>OverlayTime</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,0035</name>
      <description>CurveTime</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,0050</name>
      <description>AccessionNumber</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0008,0080</name>
      <description>InstitutionName</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,0081</name>
      <description>InstitutionAddress</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,0090</name>
      <description>ReferringPhysicianName</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,0092</name>
      <description>ReferringPhysicianAddress</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,0094</name>
      <description>ReferringPhysicianTelephoneNumber</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,0096</name>
      <description>ReferringPhysicianIDSequence</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,1040</name>
      <description>InstitutionalDepartmentName</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,1048</name>
      <description>PhysicianOfRecord</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,1049</name>
      <description>PhysicianOfRecordIDSequence</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,1050</name>
      <description>PerformingPhysiciansName</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,1052</name>
      <description>PerformingPhysicianIDSequence</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,1060</name>
      <description>NameOfPhysicianReadingStudy</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,1062</name>
      <description>PhysicianReadingStudyIDSequence</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0008,1070</name>
      <description>OperatorsName</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,0010</name>
      <description>PatientName</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0010,0020</name>
      <description>PatientID</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0010,0021</name>
      <description>IssuerOfPatientID</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,0030</name>
      <description>PatientBirthDate</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,0032</name>
      <description>PatientBirthTime</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,0040</name>
      <description>PatientSex</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,1000</name>
      <description>OtherPatientIDs</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,1001</name>
      <description>OtherPatientNames</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,1005</name>
      <description>PatientBirthName</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,1010</name>
      <description>PatientAge</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,1040</name>
      <description>PatientAddress</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,1060</name>
      <description>PatientMothersBirthName</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,2150</name>
      <description>CountryOfResidence</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,2152</name>
      <description>RegionOfResidence</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0010,2154</name>
      <description>PatientTelephoneNumbers</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0020,0010</name>
      <description>StudyID</description>
      <editable>yes</editable>
   </item>
   <item>
      <name>0038,0300</name>
      <description>CurrentPatientLocation</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0038,0400</name>
      <description>PatientInstitutionResidence</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0040,A120</name>
      <description>DateTime</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0040,A121</name>
      <description>Date</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0040,A122</name>
      <description>Time</description>
      <editable>no</editable>
   </item>
   <item>
      <name>0040,A123</name>
      <description>PersonName</description>
      <editable>no</editable>
   </item>
</data>
